@charset "UTF-8";
@import url('/assets/css/javascript/load_up.css');
@import url('/assets/css/javascript/scroll_up.css');

.p-about {
    text-align: center;
    padding-bottom: 150px;
}

.p-aboutinfo {
    font-family: serif;
    font-size: 30px;
}

.p-aboutDetails {
    display: flex;
    justify-content: center;
    line-height: 4em;
}

.p-aboutDetails_colums {
    font-size: 20px;
    font-family: serif;
    text-align: left;
    margin-right: 100px;
    margin-left: 150px;
}

.p-aboutDetails_values {
    font-size: 20px;
    font-family: serif;
    text-align: left;
}

.p-value {
    border-bottom: 1px solid #ddd;
}
