@charset "UTF-8";
@import url('/assets/css/component/image.css');
@import url('/assets/css/component/button.css');

.p-productShow {
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 80px 30px;
}

.p-prShow_details {
    font-family: serif;
}

.proShow_name {
    width: 200px;
    text-align: center;
    border-bottom: 1px solid #808080;
    font-size: 30px;
    margin: 0 auto;
}

.p-proShow_detail {
    font-size: 20px;
    line-height: 2em;
}

.p-reactionButton {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.p-rctBtn {
    color: #000;
    font-size: 20px;
    font-family: serif;
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;
    padding: 5px 10px;
    text-decoration: none;
}

.p-rctBtn:hover {
    color: #fff;
    background: #000;
}

.p-proShow_desc {
    width: 693px;
}
