@charset "UTF-8";

.l_footer {
    width: 100%;
    height: 540px;
    position: relative;
    left: 0;
    bottom: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.c_map {
    margin-top: 40px;
    margin-right: 200px;
}

.l_footer-desc {
    margin-top: 40px;
    color: #fff;
}
.l_access {
    border: 1px solid #fff;
    padding: 20px;
}

.l_accessTitle {
    font-size: 40px;
}

.l_accessdesc {
    font-size: 25px;
    line-height: 2em;
}

.l_contact {
    margin-top: 50px;
    border: 1px solid #fff;
    padding: 20px;
}

.l_contactTitle {
    font-size: 40px;
}

.l_contactBox {
    width: 300px;
    height: 70px;
    background-color: #fff;
    color: #000;
    font-size: 25px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l_contactBox-anker {
    text-decoration: none;
    color: #000;
}
