@charset "UTF-8";

.l_header {
    padding: 30px 20px;
}

.l_header__top {
    display: flex;
}

.l_header__bottom {
    display: flex;
    justify-content: space-between;
}

.l_header__titile {
    font-size: 30px;
    font-family: 'arial black';
    margin: 0 auto;
    transform: translateX(-50);
}

.l_header__userInfomation {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 30px;
    top: 20px;
}

.far {
    font-size: 30px;
    margin-right: 20px;
    color: #808080;
}

.fas {
    font-size: 30px;
    color: #808080;
}

.l_header__navlists {
    list-style: none;
    border-bottom: 1px solid #C0C0C0;
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    margin-top: 30px;
}

.l_header__navlist {
    font-size: 20px;
    color: #808080;
    text-decoration: none;
}
